/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/*Elements*/
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/images.css");

/* Utilities */
body {
  margin: 0;
  background-color: #326778;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* Custom design below! */

.container {
  width: 900px;
  margin: auto;
}

.shadowed {
  text-shadow: 2px 2px 5px black;
}
